<h1>Sign Up</h1>

<form action="<%= users_url %>" method="POST">
  <%= auth_token %>
  <label>
    Email
    <input type="text" name="user[email]">
  </label>
  <br>
  <label>
    Password
    <input type="password" name="user[password]">
  </label>

  <button>Sign Up</button>

</form>