<h5>
	Posted <abbr class="timeago" title="<%= comment.escape("created_at") %>"></abbr> by <%= comment.escape("author_email") %>
</h5>
<h4><%= comment.escape("title") %></h4>
<% if (comment.escape("author_id") === StreetEasyClone.currentUser) {%>
	<button class="delete-comment">Delete Comment</button>
<% } %>
<p><%= comment.escape("body") %></p>