<% if(StreetEasyClone.currentUser) { %>
	<h4>NEW COMMENT</h4>
	<form class="new-comment-form">
		<label>
			<p>Title (Required)</p>
	    <input type="text" name="comment[title]" class="big-input">
	  </label>
	  <br>
	  <label>Comment (Required)</label>
			<textarea name="comment[body]"></textarea>
		<br>
		<button>Submit</button>
	</form>
<% } else { %>
	<p>You must be signed in to post a comment</p>
<% } %>