<div class="search-filter">
	<h2 class="title"><b><%= count %></b> Properties Found</h2>
</div>
<ul class="view-switch-container group">
	<li>
	  <button class="view-switch active">LIST</button>
	</li>
	<li>
	  <button class="view-switch">MAP</button>
	</li>
	<li class="sort-form-container">
		<form class="sort-form">Sort By:
			<select class="sort-select" name="sort-criterion">
				<option val="price_largest" <% if(sortCriterion === "price_largest") { %> Selected <% }; %>>Most Expensive</option>
				<option val="price_smallest" <% if(sortCriterion === "price_smallest") { %> Selected <% }; %>>Least Expensive</option>
				<option val="sq_ft_largest" <% if(sortCriterion === "sq_ft_largest") { %> Selected <% }; %>>Largest</option>
				<option val="sq_ft_smallest" <% if(sortCriterion === "sq_ft_smallest") { %> Selected <% }; %>>Smallest</option>
				<option val="beds_largest" <% if(sortCriterion === "beds_largest") { %> Selected <% }; %>>Most Bedrooms</option>
				<option val="beds_smallest" <% if(sortCriterion === "beds_smallest") { %> Selected <% }; %>>Least Bedrooms</option>
			</select>
			<button class="sort-button"></button>
		</form>
	</li>
</ul>
<div class="view-container">

</div>
<div>
<!-- <% for(var i = 0; i < count/12; i++) {%>
	<a href="#properties/<%= StreetEasyClone.searchQuery %>&page=<%= i + 1 %>"><%= i + 1 %></a>
<% } %> -->
</div>

<script>
	$(document).ready(function() {
		$("select").on("change", function(event) {
			$(".sort-button").click();
		});
	});
</script>
