<div class="search-filter">
	<h2 class="title"><b><%= properties.length %></b> Properties Found</h2>
</div>
<ul class="view-switch-container group">
	<li>
	  <button class="view-switch active">LIST</button>
	</li>
	<li>
	  <button class="view-switch">MAP</button>
	</li>
</ul>
<div class="view-container">

</div>