<h2>Photo Album</h2>

<div id="image-container">
</div>

<form class="additional-photos-form">
<input type="file" multiple accept="image/*" class="image-upload">
<button class="save-all-button">Save Property</button>
</form>