<h2>Photo Album</h2>

<div id="image-container">
	<ul class="image-list group"></ul>
</div>

<div class="additional-photos-form-container">
<form class="additional-photos-form">
<input type="file" multiple accept="image/*" class="image-upload">

<h4 class="uploaded-photos-count">Saving ...</h4>
<button class="save-all-button">Submit</button>

</form>
</div>