<div class="property-list-container">
	<ul class="property-list">
	
	</ul>
	<div class="page-link-container">
	<% for(var i = 0; i < count/12; i++) {%>
		<% if ((i + 1) === currentPage) { %>
			<a href="#" class="property-page-link disabled-link"><%= i + 1 %></a>
		<% } else { %>
			<a href="#properties/<%= StreetEasyClone.searchQuery %>&page=<%= i + 1 %>" class="property-page-link"><%= i + 1 %></a>
		<% } %>
	<% } %>
	</div>
</div>

<div class="map-sidebar-container">
	<div id="map" class="map-scrolling"></div>
</div>

<script>

L.mapbox.accessToken = 'pk.eyJ1Ijoic2FpdG95ZXVuZyIsImEiOiJPOXA3aUowIn0.spWqAgo8-BgTGtYiLbOztg';
var map = L.mapbox.map('map', 'saitoyeung.jbj6oj44');
var geocoder = L.mapbox.geocoder('mapbox.places-v1');
var defaultLat = 40.714728;
var defaultLng = -73.998672;

map.setView([defaultLat, defaultLng], 11);

var address, borough, queryString, queryResult, lat, lng
	$(document).ready( function() {
		$(".main").off().on("mouseenter", "li.property-listing", function(event) {
			lat = $(event.currentTarget).attr("data-lat");
			lng = $(event.currentTarget).attr("data-lng");
		
			if(lat && lng) {
				if($(event.currentTarget).hasClass("visited")) {
					map.setView([lat, lng], 15);
				}
				else {
					$(event.currentTarget).toggleClass("visited");
					L.marker([lat, lng]).addTo(map);
					map.setView([lat, lng], 15);
				}
			}
			else {
				map.setView([defaultLat, defaultLng], 12);
			}
		});
	});
</script>