<section id="sign-in">
	<article>
		<header>
			<button class="sign-in-cancel">CANCEL</button>
			<h3>Sign In</h3>
		</header>
		<div class="sign-in-body">
			<p>Register for free to access all StreetEasy has to offer including premium data and advanced features.</p>
			<div class="switch-button-container">
				<ul class="group">
					<li class="register-view"><button class="signin-switch">REGISTER</button></li>
					<li class="signin-view"><button class="signin-switch">SIGN IN</li>
				</ul>
			</div>
			<form action="/session" method="POST">
				<input type="text" name="user[email]" placeholder="Email Address" class="modal-input">
				<input type="password" name="user[password]" placeholder="Password" class="modal-input">
				<button class="sign-in-button">SIGN IN</button>
			</form>
		</div>
	</article>
</section>