/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require mapbox
 *= require_tree .
 *= require_self
 */

html, body, header, div, ul, li, h1, h2, h3, h4, h5, p, a, option, select, input, br, hr {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: Source Sans Pro,Helvetica,Arial,Geneva,sans-serif;
}

h1 {
	font-size: 26px;
}

a {
	text-decoration: none;
	color: #0080c6;
}

button, select, option, input {
	padding: 0px; 
	margin: 0;
	border: 0;
	-webkit-appearance: none;
}

button:focus {
	outline: none;
}

/*hr {
	border-bottom: 1px solid black;
}*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	
}

input {
	-webkit-user-select: none;
}

img {
	display: block;
}

ul {
	list-style: none;
}

label {
	display: block;
}

.nav {
	display: block;
	width: 980px;
	height: 38px;
	margin: 10px auto;
	border-bottom: 4px solid black;
}

.nav-logo {
	float: left;
	display: block;
}

.group:after {
	content: "";
	display: block;
	clear:both;
}

.group > li {
	float: left;
}

a.logo_link {
	font-color: #004c75;
	padding: 10px 20px;
}

a.settings-link {
	font-color: #004c75;
	padding: 10px 20px;
}

a.register-link {
	font-color: #004c75;
	padding: 10px 20px;
}

.nav-settings {
	float: right;
}

.title {
	font-size: 30px;
	font-weight: 100;
	padding: 15px 0px;
}

.main {
	width: 980px;
	margin: auto;
}

.form-main {
	width: 637px;
}

.form-sidebar {
	width: 343px;
}

.big-input {
	width: 450px;
	height: 24px;
	padding: 6px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 0;
}

.small-input {
	width: 138px;
	height: 24px;
	padding: 6px;
	border: 1px solid #ccc;
	background-color: white;
	border-radius: 0;
}

select.small-input {
	height: 38px;
}

.form-element {
	padding: 5px 10px 10px 0px;
	font-size: 14px;
}


.form-element > label {
	font-size: 11px;
	font-weight: bold;
}

.search-button {
	width: 138px;
	height: 38px;
	padding: 7px;
	color: white;
	background-color: #0080c6;
	font-size: 13px;
}

.search-button:hover {
	background-color: #00669d;
}


#map {  
	width: 300px; 
	height: 300px;
}

.map-static {
	position: absolute; 
	top:300px;
	left: 550px;
}

.map-scrolling {
	position: fixed; 
	top:200px;
	left: 900px;
}

.map-container {
	position: relative;
}

.search-filter {
	padding: 30px 0px 7px 0px;
}

div.map-view#map {
	position: absolute;
	top: 240px;
	width: 100%;
	height: 540px;
	left: 1px;
	border-top: 3px solid #999;
}

.listings-photo {
	width: 170px;
	min-height: 110px;
}

.property-list {
	border-top: 2px solid black;
}

.property-listing {
	border-bottom: 2px solid black;
	padding: 12px 0px;
}

.all-properties {
	display: none;
}

.property-list-container {
	width: 638px;
}

.view-switch {
	width: 72px;
	height: 30px;
	border: 1px solid #ccc;
	padding: 0 15px;
	margin: 5px 0;
	background-color: white;
}

.view-switch:hover {
	background-color: #eee;
	font-weight: bold;
}

.listing-component {
	padding-right: 20px;
}

.save-button {
	width: 72px;
	height: 24px;
	border: 1px solid #fdc435;
	padding: 0 12px;
	margin: 5px 0;
	background-color: white;
}

.save-button:hover {
	background-color: #fdc435;
	cursor: pointer;
}

.save-button:after {
	content: "★ SAVE";
}

.already-saved-button {
	width: 72px;
	height: 24px;
	border: 1px solid #bbb;
	padding: 0 12px;
	margin: 5px 0;
	background-color: #eee;
	color: #bbb;
}

.already-saved-button:after {
	content: "SAVED";
}

.listing-text {
	text-transform: capitalize;
}

/* signin modal */
#sign-in {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	
}

#sign-in.is-active {
	display: block;
}

#sign-in:before {
	content: "";
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.7);;
}

#sign-in > article {
  position: fixed;
  top: 100px;
  left: 38%;
  width: 318px;
  margin: auto;
  height: 324px;
  padding: 15px;
  background: white;
  border-radius: 5px;
	box-shadow: 3px 3px 5px 3px #ccc;
	-webkit-box-shadow: 3px 3px 5px 3px #ccc;
	-moz-box-shadow: 3px 3px 5px 3px #ccc;
}

.sign-in-cancel {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  color: white;
	background-color: transparent;
}

#sign-in header {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 45px;
	background-color: #0080c6;
	text-align: center;
	color: white;
}

#sign-in header > h3{
	padding-top: 14px;
	font-weight: 600;
	font-size: 16px;
}

.modal-input {
	width: 302px;
	height: 24px;
	padding: 7px;
	margin: 8px 0;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 14px;
	font-weight: 100;
}

.sign-in-button {
	width: 318px;
	height: 40px;
	padding: 0px 20px;
	margin: 8px 0;
	border: 1px solid #0080c6;
	background-color: #0080c6;
	color: white;
}

.sign-in-body {
	padding-top: 40px;
}

.sign-in-body > p {
	text-align: center;
	font-size: 12px;
	padding: 10px;
	color: #555;
}

.switch-button-container {
	display: block;
	position: relative;
	left: 50px;
	padding: 10px;
}

.signin-switch {
	width: 100px;
	height: 40px;
	border: 1px solid #ccc;
	padding: 0 15px;
	margin: 5px 0;
	background-color: white;
}

.signin-switch:hover {
	background-color: #eee;
	font-weight: bold;
}

.sort-form-container {
	display: absolute;
	padding: 5px 30px;
}

.sort-form{
	font-size: 14px;
}


.sort-select {
	border: 1px solid #ccc;
	background: white;
	border-radius: 0px;
	width: 165px;
	height: 30px;
	margin: auto;
	padding: 0 10px;
	font-size: 12px;
}

.sort-button {
	display: none;
}

.page-link-container {
	width: 638px;
	padding: 20px 0;
	text-align: center;
}

.page-link-container a {
	font-weight: 100;
	padding: 0 10px;
}

.disabled-link {
	cursor: default;
	color: #ccc;
}


.new-property-link {
	font-color: #004c75;
	padding: 10px 20px;
}

.additional-photo-preview {
	width: 170px;
	height: 110px;
	overflow: hidden;
}

.existing-photo-preview {
	width: 170px;
	height: 110px;
	overflow: hidden;
}

#main-photo-container img{
	width: 400px;
	height: 300px;
}

.add-more-photos-button {
	width: 180px;
	height: 38px;
	padding: 7px;
	color: white;
	background-color: #0080c6;
	font-size: 13px;
}

.add-property-button {
	width: 180px;
	height: 38px;
	padding: 7px;
	color: white;
	background-color: #0080c6;
	font-size: 13px;
}

.delete-cover {
	display: block;
	position: absolute;
	background-color: rgba(0, 0, 0, .7);
	width: 170px;
	height: 60px;
	z-index: 100;
	color: white;
	text-align: center;
	padding-top: 50px;
}

.delete-cover:hover {
	cursor: pointer;
}

.thumbnail-container {
	padding-top: 10px;
	padding-bottom: 20px;
}

.thumbnail-container li {
	margin-right: 10px;
	padding: 3px;
}

.thumbnail {
	width: 30px;
	height: 30px;
}

.thumbnail-container li.active {
	background-color: #0080c6;
}









