/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require mapbox
 *= require font-awesome
 *= require mta-colors
 *= require_tree .
 *= require_self
 */



/* Setting Defaults */
html, body, header, div, ul, li, h1, h2, h3, h4, h5, p, a, option, br, hr {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: inherit;
	-webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.008);
}

body {
	font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 26px;
}

a {
	text-decoration: none;
	color: #0080c6;
}

a:hover {
	color: #004B74;
}

button, select, option, input, textarea {
	padding: 0; 
	margin: 0;
	border: 0;
	-webkit-appearance: none;
	background-color: none;
	font-family: inherit;
}


button:focus {
	outline: none;
}

button:hover {
	cursor: pointer;
	background-color: #00669d;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	-webkit-appearance: none;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

input, textarea{
	-webkit-user-select: none;
}

img {
	display: block;
}

ul {
	list-style: none;
}

label {
	display: block;
}

/* Background Image Styles */

.banner-image {
	position: absolute;
	margin: auto;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: -2;
}

.silhouette {
	position: absolute;
	margin: auto;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.1;
	z-index: -1;
}


/* Clear-fix */

.group:after {
	content: "";
	display: block;
	clear:both;
}

.group > li {
	float: left;
}


/************ Navigation Bar Styles ************/

.nav {
	display: block;
	width: 980px;
	height: 38px;
	margin: 10px auto;
	padding: 10px 0;
	border-bottom: 4px solid black;
}

/* Navigation Bar Logo Styles */

.nav-logo {
	float: left;
	display: block;
}

.nav-logo li {
	background-color: #0080c6;
	padding: 2px 10px;
}

.nav-logo li:hover {
	background-color: #00669d;
}

a.logo-link {
	color: white;
}

.logo-link > h1{
	font-size: 26px;
	font-weight: 400;
}

.logo-link sup {
	vertical-align: 5px;
	font-size: 18px;
	font-weight: 100;
}

/* Navigation Bar Components Styles */

.nav-settings {
	float: right;
}

.nav-settings > .group > li {
	background-color: #0080c6;
	padding: 2px 10px;
}

.nav-settings > .group > li:hover {
	background-color: #00669d;
}

.nav-settings > .group > li > a {
	color: white;
}

.nav-settings a {
	display: block;
	padding: 10px 5px;
}

/* Navigation Bar Dropdown Styles*/

.user-dropdown-container:hover > .dropdown{
	display: block;
}

.dropdown {
	display: none;
	position: absolute;
	background-color: white;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	width: 200px;
	margin-left: 34px;
}

.dropdown li {
	border-bottom: 1px solid #ccc;
}

.dropdown li:hover {
	background-color: #0081C6;
}

.dropdown li:hover > a {
	color: white;
}


/* Signin/Register Modal Styles */
#sign-in-sign-up {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
	
}

#sign-in-sign-up.is-active {
	display: block;
}

#sign-in-sign-up:before {
	content: "";
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.7);;
}

#sign-in-sign-up > article {
	display: none;
  position: fixed;
  top: 100px;
  left: 38%;
  width: 318px;
  margin: auto;
  height: 364px;
  padding: 15px;
  background: white;
  border-radius: 5px;
	box-shadow: 3px 3px 5px 3px #ccc;
	-webkit-box-shadow: 3px 3px 5px 3px #ccc;
	-moz-box-shadow: 3px 3px 5px 3px #ccc;
}

#sign-in-sign-up > article.is-active {
	display: block;
}

.sign-in-cancel {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  color: white;
	background-color: transparent;
}

#sign-in-sign-up header {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 45px;
	background-color: #0080c6;
	text-align: center;
	color: white;
}

#sign-in-sign-up header > h3{
	padding-top: 14px;
	font-weight: 600;
	font-size: 16px;
}

.modal-input {
	width: 302px;
	height: 24px;
	padding: 7px;
	margin: 8px 0;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 14px;
	font-weight: 100;
}

.sign-in-button {
	width: 318px;
	height: 40px;
	padding: 0px 20px;
	margin: 8px 0;
	border: 1px solid #0080c6;
	background-color: #0080c6;
	color: white;
}

.sign-in-dummy {
	width: 318px;
	height: 40px;
	padding: 0px 20px;
	margin: 8px 0;
	border: 1px solid #0080c6;
	background-color: #0080c6;
	color: white;
}

.sign-in-body {
	padding-top: 40px;
}

.sign-in-body > p {
	text-align: center;
	font-size: 12px;
	padding: 10px;
	color: #555;
}

.switch-button-container {
	display: block;
	position: relative;
	left: 50px;
	padding: 10px;
}

.signin-switch{
	width: 100px;
	height: 40px;
	border: 1px solid #ccc;
	padding: 0 15px;
	margin: 5px 0;
	background-color: white;
}

.signin-switch:hover{
	background-color: #eee;
	font-weight: bold;
}

.signin-switch.is-active {
	background-color: #eee;
	font-weight: bold;
}

.register-switch{
	width: 100px;
	height: 40px;
	border: 1px solid #ccc;
	padding: 0 15px;
	margin: 5px 0;
	background-color: white;
}

.register-switch:hover{
	background-color: #eee;
	font-weight: bold;
}

.register-switch.is-active{
	background-color: #eee;
	font-weight: bold;
}


/************ Content Styles ************/

.main {
	width: 980px;
	margin: auto;
	padding-bottom: 80px;
}

/* General Form Styles */

.big-input {
	width: 462px;
	height: 24px;
	padding: 6px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 14px;
}

.medium-input {
	width: 300px;
	height: 24px;
	padding: 6px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 14px;
}

.small-input {
	width: 138px;
	height: 24px;
	padding: 6px;
	border: 1px solid #ccc;
	background-color: white;
	border-radius: 0;
	font-size: 14px;
}

select.small-input {
	width: 152px;
	padding: 6px;
	height: 38px;
	font-size: 14px;
}

.form-element {
	padding: 5px 10px 10px 0px;
	font-size: 14px;
}

.form-element > label {
	font-size: 11px;
	font-weight: bold;
}

/* Search Box Styles */

.title {
	display: block;
	font-size: 30px;
	font-weight: 100;
	padding: 10px 0px;
}

.title.first-page {
	color: white;
}

.form-main {
	width: 660px;
}

.search-form label {
	color: white;
}

.search-button {
	width: 138px;
	height: 38px;
	padding: 7px;
	color: white;
	background-color: #0080c6;
	font-size: 13px;
}

.search-button:hover {
	background-color: #00669d;
}


/* List View Styles */

/* List View - Search Term Styles */

.search-terms {
	padding-bottom: 10px;
}
.search-filter {
	padding: 20px 0px 7px 0px;
}


/* List View - Options Bar Styles */

.view-switch {
	width: 72px;
	height: 30px;
	border: 1px solid #ccc;
	padding: 0 15px;
	margin: 5px 0;
	background-color: white;
}

.view-switch.active {
	background-color: #ddd;
	font-weight: bold;
}

.view-switch:hover {
	background-color: #eee;
	font-weight: bold;
}

.sort-form-container {
	display: absolute;
	padding: 5px 0px 5px 260px;
}

.sort-form{
	font-size: 14px;
}


.sort-select {
	border: 1px solid #ccc;
	background: white;
	border-radius: 0px;
	width: 185px;
	height: 30px;
	margin: auto;
	padding: 0 10px;
	font-size: 14px;
}

.sort-button {
	display: none;
}

.page-link-container {
	width: 638px;
	padding: 20px 0;
	text-align: center;
}

.property-page-link {
	font-weight: 100;
	padding: 0 10px;
}

.disabled-link {
	cursor: default;
	color: #ccc;
}

.disabled-link:hover {
	color: #ccc;
}

a.ellipsis {
	padding: 0 1px;
}


/* List View - Property Listing Styles */

.listings-photo {
	width: 170px;
	min-height: 110px;
}

.property-list {
	border-top: 2px solid black;
}

.property-listing {
	border-bottom: 2px solid black;
	padding: 12px 0px;
}

.all-properties {
	display: none;
}

.property-list-container {
	float: left;
	width: 638px;
}

.listing-component {
	padding-right: 20px;
}

.listing-header-container {
	width: 410px;
}

.listing-header-container h3 {
	float: left;
}

.listing-header-container button {
	float: right;
}

.listing-header {
	font-size: 18px;
	font-weight: 100;
	text-transform: capitalize;
	padding-top: 6px;
}

.listing-price {
	font-size: 18px;
	font-weight: 100;
	text-transform: capitalize;
	padding-top: 6px;
}

.listing-text {
	font-size: 14px;
	font-weight: 100;
	text-transform: capitalize;
}

.listing-row {
	border-top: 1px solid #ccc;
	padding: 4px 0;
}

.listing-row li {
	padding: 0 4px;
	border-left: 1px solid #ccc;
}

.listing-row li:first-child {
	border-left: none;
	padding-left: 0;
}


/* List View - Map Styles */

#sidebar-map {  
	width: 300px; 
	height: 300px;
}

.map-static {
	position: absolute; 
	top:300px;
	left: 550px;
}

.map-scrolling {
	position: absolute;
}

.map-scrolling.locked {
	position: fixed;
	top: 10px;
}

.map-sidebar-container {
	float: left;
	width: 304px;
	position: relative;
	padding-left: 38px;
}

/* Save/Delete Button Styles */

.save-button {
	width: 72px;
	height: 24px;
	border: 1px solid #fdc435;
	padding: 0 12px;
	margin: 5px 0;
	background-color: white;
}

.save-button:hover {
	background-color: #fdc435;
	cursor: pointer;
}

.save-button:after {
	content: "★ SAVE";
}

.save-button:disabled {
	cursor: default;
	width: 72px;
	height: 24px;
	border: 1px solid #bbb;
	padding: 0 12px;
	margin: 5px 0;
	background-color: #eee;
	color: #bbb;
}

.save-button:disabled:after {
	content: "SAVED";
}

.delete-button {
	width: 72px;
	height: 24px;
	border: 1px solid #B40000;
	padding: 0 12px;
	margin: 5px 0;
	background-color: #B40000;
	color: white;
}

.delete-button:hover {
	border: 1px solid #801515;
	background-color: #801515;
}

.delete-button:after {
	content: "REMOVE";
}


/* Map View Styles */
	
div.map-view#map {
	position: absolute;
	top: 240px;
	width: 100%;
	height: 100%;
	left: 1px;
	border-top: 3px solid #999;
}

.leaflet-popup-content {
	width: 240px;
}

.leaflet-popup-content img {
	display: block;
	width: 180px;
	height: auto;
	margin: auto;
}

.leaflet-popup-content h3 {
	text-align: center;
	text-transform: capitalize;
}


/* New/Edit Property Form Styles */

.new-form-main {
	width: 980px;
}

.form-sidebar {
	width: 343px;
}

.new-form-description {
	width: 464px;
	height: 100px;
	border: 1px solid #ccc;
	padding: 6px;
	font-size: 14px;
}

.new-property-link {
	font-color: #004c75;
	padding: 10px 20px;
}

.additional-photo-preview {
	width: 170px;
	height: 110px;
	overflow: hidden;
}

.existing-photo-preview {
	width: 170px;
	height: 110px;
	overflow: hidden;
}

#main-photo-container img{
	width: 400px;
	height: 300px;
}

.add-more-photos-button {
	width: 180px;
	height: 38px;
	padding: 7px;
	color: white;
	background-color: #0080c6;
	font-size: 13px;
}

.add-property-button {
	width: 180px;
	height: 38px;
	padding: 7px;
	color: white;
	background-color: #0080c6;
	font-size: 13px;
}

.add-property-button:after {
	content: "Submit without Photos";
}

.add-property-button:disabled {
	cursor: default;
	color: #bbb;
	background-color: #eee;
}

.add-property-button:disabled:after {
	content: "Saving ...";
}

.delete-cover {
	display: block;
	position: absolute;
	background-color: rgba(0, 0, 0, .7);
	width: 170px;
	height: 60px;
	z-index: 100;
	color: white;
	text-align: center;
	padding-top: 50px;
}

.delete-cover:hover {
	cursor: pointer;
}

#main-photo-container {
	float: left;
	width: 460px; 
}

.right-hand-form {
	float: left;
	width: 520px;
}

.form-button-container {
	margin: auto;
	width: 980px;
	padding: 20px 310px;
}

#image-container {
	width: 989px;
	margin: auto;
}

.image-list img {
	margin: 10px 13px 10px 13px;
}

.image-upload {
	display: none;
}

.add-images-button {
	width: 170px;
	height: 110px;
	margin: 10px 13px 10px 13px;
	border: 2px dashed #888;
	background-color: #eee;
	font-size: 14px;
	color: #888;
}

.add-images-button:hover {
	cursor: pointer;
	background-color: #aaa;
	color: white;
}

.additional-photos-form-container {
	width: 980px;
	margin: auto;
	text-align: center;
}

.save-all-button {
	width: 180px;
	height: 38px;
	padding: 7px;
	color: white;
	background-color: #0080c6;
	font-size: 13px;
}

.main-photo-button-container {
	padding: 10px 0;
}

#main-photo-upload {
	display: none;
}

.main-photo-button {
	width: 180px;
	height: 38px;
	padding: 7px;
	color: white;
	background-color: #0080c6;
	font-size: 13px;
}

.form-page-header {
	padding-bottom: 20px;
}

.uploaded-photos-count {
	display: none;
	padding: 10px 0;
}

.uploaded-photos-count.active {
	display: block;
}



/* Property Show Page Styles */

/* Property Show Page - Left Side Styles */

.thumbnail-container {
	padding-top: 10px;
	padding-bottom: 20px;
}

.thumbnail-container li {
	margin-right: 10px;
	padding: 3px;
}

.thumbnail {
	width: 30px;
	height: 30px;
}

.thumbnail-container li.active {
	background-color: #0080c6;
}

.left-side-show {
	float: left;
	width: 574px;
	padding-right: 14px;
}

.left-side-show p {
	font-size: 14px;
	padding-bottom: 12px;
	line-height: 1.6;
}

.description-container {
	border-top: 4px solid black;
	padding-top: 8px;
	padding-bottom: 20px;
}

.description-container p {
	font-size: 14px;
	padding-bottom: 12px;
	line-height: 1.6;
}

/* Property Show Page - Right Side Styles*/

.save-button-list {
	float: right;
	padding-bottom: 10px;
}

.show-content h4{
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 12px
}

.right-side-show {
	float: left;
	width: 386px;
	padding: 3px;
}

.right-side-show h2 {
	font-size: 30px;
	font-weight: 100;
	line-height: 30px;
	padding: 0 7px;
	text-transform: capitalize;
}

.right-side-show h3 {
	font-size: 27px;
	font-weight: bold;
	padding: 8px 7px;
}

.right-side-show ul {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.right-side-show li{
	padding: 5px 7px;
	border-right: 1px solid #ccc;
}

.right-side-show li:last-child{
	border-right: 0;
}

.type-and-location-container {
	border-bottom: 1px solid #ccc;
	padding: 5px 7px;
}

.right-side-show p {
	font-size: 14px;
	text-transform: capitalize;
}

.show-map-container {
	padding: 20px;
}

.show-map-container > #map {
	margin: auto;
}

.edit-button {
	display: block;
	width: 110px;
	height: 14px;
	padding-top: 3px;
	padding-bottom: 7px;
	color: white;
	background-color: #0080c6;
	font-size: 15px;
	margin: 5px 10px;
	text-align: center;
}

.edit-button:hover {
	background-color: #00669d;
	color: white;
}

.zoom-in {
	position: absolute;
	z-index: 10000;
}

.zoom-out {
	position: absolute;
	z-index: 10000;
}

.subway-stations-container {
	padding: 10px;
	width: 366px;
}

.subway-station {
	display: block;
	
	padding: 10px 0;
	font-size: 12px;
}

/* Property Show Page - Comments Styles */

.comments-container {
	border-top: 4px solid black;
	padding-top: 8px;
	padding-bottom: 20px;
}

.new-comment-container {
	border-top: 1px solid #ccc;
	padding: 20px 0;
}

.new-comment-form label {
	font-size: 14px;
	padding-bottom: 12px;
	line-height: 1.6;
}

.new-comment-form input[type="text"] {
	width: 540px;
	font-size: 14px;
}

.new-comment-form textarea {
	width: 540px;
	height: 50px;
	font-size: 14px;
	padding: 6px;
	background-color: white;
	border: 1px solid #ccc;
}

.new-comment-form button {
	width: 138px;
	height: 38px;
	padding: 7px;
	color: white;
	background-color: #0080c6;
	font-size: 13px;
	margin-top: 10px;
}

.new-comment-form button:hover {
	background-color: #00669d;
}




